# Xill specifics
xilliosettings.db
ESConsole/
/plugins
xill-ide-launcher/plugins
helpfiles/
test-output/
xilliosettings.cfg

# Log files
*.log

# Gradle
build/
.gradle/
!gradle-wrapper.jar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
maven-build.properties
maven-build.xml
build.xml

# Eclipse
.settings/
.metadata/
.classpath
.project
bin/
*/test-output/

# IntelliJ
*.iml
.idea/
src/main/resources/
xill-ide/src/main/conf/log4j2-developer_mod - Copy.xml
xill-ide/src/main/conf/log4j2-developer_mod.xml

# VS Code
.vscode/settings.json
